.results p {
  font-size: 1.25rem;
}

.results__wrapper {
  display: flex;
  margin-top: 1rem;
}


.results__text {
  width: 300px;
}

.results{
  background-color: transparent !important;
}

.warning-box {
  background-color: red;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  align-items: center;
}
